doctype html
html(lang="ko")
    head
        title #{pageTitle} | WeTube
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    body
        main
            header 
                h1 #{pageTitle}
                nav 
                    ul 
                        li 
                            a(href="/") Home
                        li 
                            a(href="/videos/upload") Upload Video 
                        li 
                            a(href="/search") Search Video 
            block content
    include partials/footer.pug